{% extends "layout.html" %}
{% block title %}Flask MVC App{% endblock %}
{% block page %}Flask MVC App{% endblock %}

{{ super() }}

{% block content %}

<div class="title-text">
    <div>
        <h1>Welcome to Vaxing-U</h1>
        <p>Description</p>
    </div>

    

<section class="section_1">

    <h2>Vaccines</h2>
<div class="wrapper">
    
<div class="card">
    <img src="../static/images/1.gif">
    <div class="info">
            <h1>Pfizer</h1>
            <p>Description</p>
            <a href="john wick.html" class="btn">View Item</a>
        </div>
    </div>	
  
<div class="card">
    <img src="../static/images/2.gif">
    <div class="info">
            <h1>Sinopharm</h1>
            <p>Description</p>
            <a href="dark tower.html" class="btn">View Item</a>
        </div>
    </div>
  
<div class="card">
    <img src="../static/images/vaccine_2.gif">
        <div class="info">
            <h1>Astrazeneca</h1>
            <p>Description</p>
            <a href="the equalizer.html" class="btn">View Item</a>
        </div>
    </div>
  
<div class="card">
    <img src="../static/images/vaccine_3.gif">
    <div class="info">
            <h1>Johnson & Johnson</h1>
            <p>Description</p>
            <a href="mission impossible fallout.html" class="btn">View Item</a>
        </div>
    </div>
    </section>	

    
{% endblock %}