{% extends "signup_layout.html" %}
{{ super() }}

  
  {% block content %}
  <div class="contact-title">
	  <h1>WELCOME TO Vaxing You</h1>
	  <h2>Slogan</h2>
  </div>

  <section class="request">
  <div class="signup-Form">
     <form id="myLoginForm" method="POST" action="/loginUser">
            {{ myForm.csrf_token }}
            <div class="inputBox"> 
              {{ myForm.username(size=20, class="validate") }}
              <!--{{ myForm.username.label }}-->
              <span>username</span>
            </div>

            <div class="inputBox">
              {{ myForm.password(size=20, class="validate") }}
              <!--{{ myForm.password.label }}-->
              <span>Password</span>
            </div>

            <div>
              {{myForm.submit}}
            </div> 
        </form>
    </div>
  </section>
    {% endblock %}