{% extends "vaccine_layout.html" %}
{{ super() }}


    {% block content %}
    <div class="row">
        <div class="col">
          <h1>Pfizer Vaccine</h1>
          <div class="responsive">
            <iframe width="580" height="350" src="https://youtu.be/AM3gSgvN2Fw?autoplay=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col">
          <div class="card card1">
            <h4>Pfizer Vaccine Information :</h4>
            <br>
            <h4>Genres</h4>
            <p>Action & Adventure</p> 
            <p>Sci-Fi & Fantasy</p>
            <p>Based on a Book</p>
            <br>
            <h4>Director</h4>
            <p>Nikolaj Arcel</p>
            <br>
            <h4>Rating Information</h4>
            <p>Ages 13+</p>
            <br>
            <h4>Staring</h4>
            <p>Iris Elba, Matthew McConaughey, Tom Taylor, Claudia Kim, Fran Kranz, Abbey Lee, Katheryn Winnick, Jackie Earie Haley</p>
    
          </div>
          <div class="card card2">
            <h4>Movie Review :</h4>
            <br>
             <h4>If you are a fan of The Dark Tower books by Stephen King, you many not enjoy this screen adaptation as it tries to condense the entire series into 94 minuites. The plot of the movie revolves around stopping the main antagonist known as "The Man In Black," from destroying the Dark Tower. It is said that the tower itself serves as a barrier between all worlds and realities. To stop this from happening the main protagonist Jack Chambers must use his psychic visions as a guide to find the last Gunslinger. The two then face off against "The Man In Black" in a fight to preserve the balance of all worlds.</h4> 
             <br>
             <h4>Analyst Rating :</h4>
             <br>
             <h4>6.5 / 10</h4>
          </div>
        </div>
      </div>
    {% endblock %}
