{% extends "layout.html" %}
{{ super() }}


  

  {% block content %}
    {% if current_user.is_authenticated %}
    
    <div class="contact-title">
	  <h1>Your Medical Information</h1>
    </div>

    <section class="request">
    <div class="card_api card1">
    <table>
      <tr>
        <th><p>Birth ID:</p></th>
        <th><p>{{ data.birthID }}</p></th>
      </tr>
      <tr>
        <th><p>First Name:</p></th>
        <th><p>{{ data.firstname }}</p></th>
      </tr>
      <th><p>Middle Name:</p></th>
        <th><p>{{ data.middlename }}</p></th>
      </tr>
      <th><p>Last Name:</p></th>
        <th><p>{{ data.lastname }}</p></th>
      </tr>
      <th><p>Place Of Birth:</p></th>
        <th><p>{{ data.birthPlace }}</p></th>
      </tr>
      <th><p>Date Of Birth:</p></th>
        <th><p>{{ data.DateOfBirth }}</p></th>
      </tr>
      <th><p>Sex:</p></th>
        <th><p>{{ data.Sex }}</p></th>
      </tr>
      <th><p>Condition:</p></th>
        <th><p>{{ data.Condition1 }}</p></th>
      </tr>
      <th><p>Condition:</p></th>
        <th><p>{{ data.Condition2 }}</p></th>
      </tr>
      <th><p>Condition:</p></th>
        <th><p>{{ data.Condition3 }}</p></th>
      </tr>
      
   
    </table>   
    
      <div>
        <a href="/update">
          <input class="btn"  type="button" onclick='' value="Change Medical Data">
          </a>
      </div>
    </div>
    </section>
    {% endif %} 
    {% endblock %}