{% extends "layout.html" %}
{{ super() }}

<!DOCTYPE HTML>
<html lang="en">
  <head>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/sign_up.css">
  </head>
  <body>

  <div class="contact-title">
	  <h1>WELCOME TO Vaxing You</h1>
  </div>

  {% block content %}
    {% if current_user.is_authenticated %}
    <table>
      <tr>
        {% for attribute in attributes %}
        <th>{{ attribute }}</th>
        {% endfor %}
      </tr>
       {% for data in user %}
      <tr>
        <td>{{ data }}</td>
      </tr>
      {% endfor %}
    </table>   
    {% endif %}
   {% endblock %}
    

    
   