{% extends "signup_layout.html" %}
{{ super() }}


    {% block content %}
    <div class="contact-title">
      <h1>WELCOME TO Vaxing-U</h1>
      <h2>Slogan</h2>
    </div>
  
    <section class="request">
    <div class="signup-Form">
     <form id="myForm" method="POST" action="/signup">
            {{ myForm.csrf_token }}
            <div class="inputBox"> 
             <!-- {{ myForm.username.label }}-->

              {{ myForm.username(size=20, class="validate") }}
               <span>User Name</span>
            </div>
            
            <div class="inputBox">
              <!--{{ myForm.email.label }}-->
              {{ myForm.email(size=50, class="validate") }}
              <span>Email</span>
            </div>

            <div class="inputBox">
              <!--{{ myForm.password.label }} <p>Must Include uppercase letters and numbers for a strong password</p>-->
              {{ myForm.password(size=20, class="validate") }}
              <span>Password (Please Include uppercase letters and numbers)</span>
              
            </div>

            <div>
              {{myForm.submit}}
              <a href="/login">
              <input class="btn"  type="button" onclick='' value="Login with existing account">
              </a>
            </div> 
        </form>
      </div>
    </section>
    {% endblock %}
    

    
   