{% extends "vaccine_layout.html" %}
{{ super() }}


    {% block content %}
    <div class="row">
        <div class="col">
          <h1>Sinopharm Vaccine</h1>
          <div class="responsive">
            <iframe width="580" height="350" src="https://www.youtube.com/embed/Gjo2q_5ymEw?autoplay=1" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col">
          <div class="card card1">
            <h4>Criteria To Take The Sinopharm Vaccine :</h4>
            <br>
            <h4>The Following Can Be Vaccinated :</h4>
            <p>Persons 18 years and over who are advised to take the vaccine </p> 
            <p>Persons living with HIV who are recommended for vaccination </p>
            <p>Immunocompromised persons who are recommended for vaccination </p>
            <p>Persons with autoimmune disorders who are recommended for vaccination </p>
            <br>

            <h4>The Following Can't Be Vaccinated :</h4>
            <p>Persons below the age of 18</p>
            <p>Persons who are pregnant</p>
            <p>Persons who have had an allergic reaction to the vaccine or a component of the vaccine </p>
            <p>Persons who are COVID-19 positive</p>
    
          </div>
          <div class="card card2">
            <h4>Sinopharm Vaccine Information :</h4>
            <br>
             <h4>The Sinopharm vaccine was developed by the state-owned China National Pharmaceutical Group (Sinopharm) and the Beijing Institute of Biological Products (BIBP) using the means of an inactivated virus. The coronavirus which causes COVID-19 was modified in such a way that it is unable to replicate, making this vaccine suitable for those with a compromised immune system.</h4>
             <br>
             <h4>This vaccine is recommended for use in the form of two doses with a three-to four-week interval between doses. It should also be administered within at least a 14-day interval after any other vaccines. </h4>
          </div>
        </div>
      </div>
    {% endblock %}
